@font-face {
    font-family: "Gameboy";
    src: url("../fonts/PKMN_RBYGSC.ttf");
}

@font-face {
    font-family: "Pkmn Logo";
    src: url("../fonts/Pokemon_Solid.ttf");
}

.gb-text {
    font-family: 'Gameboy', Tahoma, Geneva, Verdana, sans-serif
}

.gb-display {
    background-image: linear-gradient(46deg, rgba(72, 80, 85, 0), rgba(143, 151, 156, 0.58) 80%);
}

.navbar .logo-text {
    font-family: 'Pkmn Logo', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffcc03;
    text-shadow:
        -1px -1px 0 rgb(0, 128, 255),
        1px -1px 0 rgb(0, 128, 255),
        -1px 1px 0 rgb(0, 128, 255),
        1px 1px 0 rgb(0, 128, 255);
}

.gb-border {
    border-width: 3px;
    border-style: solid;
    /*border-color: #000;*/
}

.card.gb-border {
    border-color: #000;
}

#arena {
    display: none;
}

.atk-wrapper {
    width: 300px;
    height: 300px;
}

.def-wrapper {
    width: 200px;
    height: 200px;
}

.end-wrapper {
    display: none;
}

#cardDefender {
    display: none
}

.fighter-card {
    cursor: pointer;
}

.fighter-icon {
    width: 100px;
    cursor: pointer;
}

.fighter-icon.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flicker {
    animation: flickerAnimation .15s 3;
}