@font-face {
    font-family: "Gameboy";
    src: url("../fonts/PKMN_RBYGSC.ttf");
}

.gb-text {
    font-family: 'Gameboy', Tahoma, Geneva, Verdana, sans-serif
}

.gb-border {
    border-width: 3px;
    border-style: solid;
    /*border-color: #000;*/
}

.card.gb-border {
    border-color: #000;
}

#arena {
    display: none
}

.atk-wrapper {
    width: 300px;
    height: 300px;
}

.def-wrapper {
    width: 200px;
    height: 200px;
}

.end-wrapper {
    display: none;
}

#cardDefender {
    display: none
}

.fighter-card {
    cursor: pointer;
}

.fighter-icon {
    width: 100px;
    cursor: pointer;
}

.fighter-icon.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.flicker {
    animation: flickerAnimation .15s 3;
}